/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/on_push_signal.php
jobs/php_errors.log
jobs/update_rates.php
jobs/*.*
