name: Laravel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  laravel-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Send signal
      run: "curl --silent --show-error --fail -X POST https://goals1.uac.co.ua -H 'Authorization: ${{ secrets.DEPLOYMENT_TOKEN }}' -H 'Content-Type: application/json' -d '{\"tag\": \"${{ env.TAG }}\", \"ports\": {\"443\": 443}}'"
